<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="../CSS/style.css">
    <title>Document</title>
</head>
<body>
    <div class="clear box">
        <div>
            <h1 id="h1">The Corona Status</h1>
        </div>
        <div id = "nav">
            <ul>
                <li><a href = "index.html">Home</a></li>
                <li><a href = "submit.html" >Submit</a></li>
                <li><a href = "find.html">Find</a></li>
                <li><a href = "about.html" >About</a></li>
            </ul>
        </div>
        <div>
            <p>
                <br>This interface is degined by some pro
                people so that you Guys can sit back home and
                fight corona virus.<br>You can use this interface in followings ways:
                <br><br>1.To know the latest news about corona.
                <br>2.To Submit a corona positive form so that other can 
                    take preventive measures.
                <br>3.To find if someone in your circle has corona or not.
                <br>4.To beat the shit out of the corona virus ;) .
            </p>
        </div>
        <div id="credit">
            BY <br><br> A  P  I  L
        </div>
    </div>
</body>
</html>