<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,600"
      rel="stylesheet"
      type="text/css"
    />
    <link type="text/css" rel="stylesheet" href="../CSS/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="clear box">
      <div>
        <h1 id="h1">The Corona Status</h1>
      </div>
      <div id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="submit.html">Submit</a></li>
          <li><a href="find.html">Find</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
      <form action="find_ack.html">
        <div class="menu">
          <ul>
            <li>
              <ul>
                <li>Person's Name :</li>
              </ul>
              <ul>
                <li>
                  <input type="text" id="name" placeholder="Enter Name" />
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>Person's Age :</li>
              </ul>
              <ul>
                <li>
                  <input type="number" id="age" placeholder="Enter Age" />
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="butt">
          <button type="submit">Find</button>
          <button type="reset">Clear</button>
        </div>
      </form>
    </div>
  </body>
</html>
