<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,600"
      rel="stylesheet"
      type="text/css"
    />
    <link type="text/css" rel="stylesheet" href="../CSS/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="clear box">
      <div>
        <h1 id="h1">The Corona Status</h1>
      </div>
      <div id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="submit.html">Submit</a></li>
          <li><a href="find.html">Find</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
      <div>
        <img src="../images/1.jpg" />
      </div>
      <div>
        <p>
          Coronavirus disease (COVID-19) is an infectious disease caused by a
          new virus. The disease causes respiratory illness (like the flu) with
          symptoms such as a cough, fever, and in more severe cases, difficulty
          breathing. You can protect yourself by washing your hands frequently,
          avoiding touching your face, and avoiding close contact (1 meter or 3
          feet) with people who are unwell.
        </p>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
